<div class="container starter-template">

 <pagination boundary-links="true" 
          max-size="4"
          items-per-page="itemsPerPage"
          total-items="totalItems" 
          ng-model="currentPage" 

          previous-text="&lsaquo;"
          next-text="&rsaquo;" 
          first-text="&laquo;" 
          last-text="&raquo;"
  ></pagination> 

  <table class="table table-hover">
      <!--
      <thead>
        <tr>
          <th>titolo</th>
          <th>img</th>
          <th>estratto</th>
        </tr>
      </thead>
      :currentPage/articolo/:itemId
      -->
      <tbody>
        <tr ng-repeat="post in filteredCategorie">
        <!--  nome della categoria categoriaz -->
          <td width="20%"><a ng-href="#/cat/{{categoriaz}}/{{catnumz}}/page/{{currentPage}}/articolo/{{filteredCategorie.indexOf(post)}}">{{post.title}}</a><br>
          <a ng-href="{{post.featured_image.source}}"><img ng-src="{{post.featured_image.attachment_meta.sizes.thumbnail.url}}"></a></td>
          <td width="80%" ng-bind-html="post.excerpt" align="justify"></td>

        </tr>
      </tbody>
    </table>

     Go to page: <input type="number" ng-model="np" max="{{numeropagine}}" min="1"><button class="btn btn-info" ng-click="setPage(np)" ng-init="np=1" >submit</button><br> (max {{numeropagine}})
 <br>
 <br>


</div><!-- /.container -->